---
http_interactions:
- request:
    method: post
    uri: https://rest.developer.yodlee.com/services/srest/restserver/v1.0/authenticate/coblogin
    body:
      encoding: US-ASCII
      string: cobrandLogin=<COBRAND_LOGIN>&cobrandPassword=<COBRAND_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - M1475179596825j12l26L000000NLlRD-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cobrandId":10010352,"channelId":-1,"segmentsId":-1,"locale":"en_US","tncVersion":2,"applicationId":"3A4CAE9B71A1CCD7FF41F51006E9ED00","cobrandConversationCredentials":{"sessionToken":"08062013_0:e8df199192dec91179b79be3870676f1957f311b7b13b203917aec2b135bdfd1148d3e9e26bc679304b3768cc1a0674ca109f5b5f1278c6d9bb0614f1bf263d3"},"preferenceInfo":{"currencyCode":"USD","timeZone":"PST","dateFormat":"MM/dd/yyyy","currencyNotationType":{"currencyNotationType":"SYMBOL"},"numberFormat":{"decimalSeparator":".","groupingSeparator":",","groupPattern":"###,##0.##"}}}'
  recorded_at: Thu, 29 Sep 2016 20:06:37 GMT
recorded_with: VCR 3.0.3
