---
http_interactions:
- request:
    method: post
    uri: https://rest.developer.yodlee.com/services/srest/restserver/v1.0/authenticate/coblogin
    body:
      encoding: US-ASCII
      string: cobrandLogin=<COBRAND_LOGIN>&cobrandPassword=<COBRAND_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Yodlee-Ref-Id:
      - U1474407142552x12e27s000000NLjRE-1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cobrandId":10010352,"channelId":-1,"segmentsId":-1,"locale":"en_US","tncVersion":2,"applicationId":"3A4CAE9B71A1CCD7FF41F51006E9ED00","cobrandConversationCredentials":{"sessionToken":"08062013_0:4b3e9b81c1b4d82352e9ea9986318d8183a29ec56f0467310b578e9a3073a6feddb2a133e754dbd2d9a565a0b74720bb5671cb9b38bc7669e4578207e8eee9b5"},"preferenceInfo":{"currencyCode":"USD","timeZone":"PST","dateFormat":"MM/dd/yyyy","currencyNotationType":{"currencyNotationType":"SYMBOL"},"numberFormat":{"decimalSeparator":".","groupingSeparator":",","groupPattern":"###,##0.##"}}}'
  recorded_at: Tue, 20 Sep 2016 21:32:22 GMT
recorded_with: VCR 3.0.3
